@model IEnumerable<EventEasePOE2._0.Models.EventType>

<h2>Event Types</h2>

<a asp-action="Create">Create New Event Type</a>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var type in Model)
        {
            <tr>
                <td>@type.Name</td>
                <td>@type.Description</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@type.EventTypeId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@type.EventTypeId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
