<!DOCTYPE html>
<html>
<head>
    <title>EventEase</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav>
            <a asp-controller="Home" asp-action="Index">Home</a> |
            <a asp-controller="Venue" asp-action="Index">Venues</a> |
            <a asp-controller="Event" asp-action="Index">Events</a> |
            <a asp-controller="Booking" asp-action="Index">Bookings</a> |
            <a asp-controller="Search" asp-action="Search">Search</a>
        </nav>
    </header>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</body>
</html>
