@model IEnumerable<EventEasePOE2._0.Models.Event>

<h2>Events</h2>

<table>
    <thead>
        <tr><th>Name</th><th>Date</th><th>Type</th><th>Venue</th></tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.EventDate.ToShortDateString()</td>
                <td>@item.EventType?.Name</td>
                <td>@item.Venue?.Name</td>
            </tr>
        }
    </tbody>
</table>
